@import "mixins";

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
	background:white;
}

::-moz-selection {
    background: transparent;
    text-shadow: none;
}

::selection {
    background: transparent;
    text-shadow: none;
}

#desc{
	::-moz-selection {
	    background: #f9f9f9;
	    text-shadow: none;
	}

	::selection {
	    background: #f9f9f9;
	    text-shadow: none;
	}
	
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body{
	
	font-family: 'Karla', helvetica, arial, sans-serif;
	font-weight:400;
	
//	background: rgb(255,255,255); /* Old browsers */
//	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
//	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzQzNDJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwZmZhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZlMjQwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2FlNDFmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2RiMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
//	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(67,66,255,1) 20%, rgba(0,255,175,1) 40%, rgba(254,36,0,1) 60%, rgba(174,65,255,1) 80%, rgba(252,219,0,1) 100%); /* FF3.6+ */
//	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(20%,rgba(67,66,255,1)), color-stop(40%,rgba(0,255,175,1)), color-stop(60%,rgba(254,36,0,1)), color-stop(80%,rgba(174,65,255,1)), color-stop(100%,rgba(252,219,0,1))); /* Chrome,Safari4+ */
//	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(67,66,255,1) 20%,rgba(0,255,175,1) 40%,rgba(254,36,0,1) 60%,rgba(174,65,255,1) 80%,rgba(252,219,0,1) 100%); /* Chrome10+,Safari5.1+ */
//	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(67,66,255,1) 20%,rgba(0,255,175,1) 40%,rgba(254,36,0,1) 60%,rgba(174,65,255,1) 80%,rgba(252,219,0,1) 100%); /* Opera 11.10+ */
//	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(67,66,255,1) 20%,rgba(0,255,175,1) 40%,rgba(254,36,0,1) 60%,rgba(174,65,255,1) 80%,rgba(252,219,0,1) 100%); /* IE10+ */
//	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(67,66,255,1) 20%,rgba(0,255,175,1) 40%,rgba(254,36,0,1) 60%,rgba(174,65,255,1) 80%,rgba(252,219,0,1) 100%); /* W3C */
//	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcdb00',GradientType=0 ); /* IE6-8 */

letter-spacing:.1em;

}



#header{
	position: fixed;
	width: 100%;
	padding: .5em 0;
	z-index: 3000;
	top: 0;
	font-weight:bold;
	font-size:1.5em;
}

#logo{
	position:fixed;
	z-index:0;
	padding:1em;
	top:1em;
	left:1em;
	width:7em;
	
	img{
		width:100%;
	}
}

#desc {
	position:fixed;
	width: 250px;
	z-index:5000;
	top:1em;
	right:1em;
	padding:1em;
}

#primary{
	float:right;
	padding:0 1em;
	ul{
		padding:0;
		margin:0;
		list-style-type:none;
		li{
			float:left;
			padding:0 1em;
		}
	}
}

#main{
	margin-bottom:-3em;
}


a{
	text-decoration:underline;
	color:$black;
	transition:0.25s;
	margin:-.1em -.25em;
	padding:.1em .25em;
	transition:0.25s;
	&:hover, &:active{
		background:$black;
		color:$white;
		text-decoration:none;
		transition:0.25s;
		
	}
}

.object{
	float:left;
	width:100%;
	height:1000px;
	margin:0;
	padding:0;
	
	.swipe-wrap{
		margin:0;
		padding:0;
	}
	
	img{
		display:block;
		
		//padding:1em;
		margin:0 auto;
			
		@media screen and (min-height: (em(800))){
			//height:80%;
		}
	}
	

}

#evey{
	margin-bottom:-2em;
}

.info-block{
	background:$black;
	margin:0 auto;
	width:80%;
	height:80%;
	color:$white;
	position:relative;
	z-index:5000;	
	.content-wrap{
		padding:1.5em 3em;
		line-height:175%;
	}
	a{
		text-decoration:underline;
		color:$white;
		transition:0.25s;
		margin:-.1em -.25em;
		padding:.1em .25em;
		transition:0.25s;
		&:hover, &:active{
			background:$white;
			color:$black;
			text-decoration:none;
			transition:0.25s;
		
		}
	}
}

.info-block:hover{
	.swipe-wrap:last-child{
		  z-index:5000;
	  }
}

.buy-button{
	z-index:5000;
	//position:absolute;
	//bottom:2em;
	//right:2em;
	float:left;
	margin:1em 0 0 0;
	padding:1em 1.5em;
	background:transparent;
	color:$black;
	letter-spacing:.25em;
	border:1px solid $black;
	outline:none;
	
	transition:0.25s;
	
	&:hover, &:active{
		color:$white;
		background:$black;
	}
	
}

.buynow{
	display:block;
	width:auto !important;
}

.constant{
	position:absolute;
	bottom:0;
	right:1em;
}

/* SWIPE STYLES */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  
  :last-child{
	 // z-index:5000;
  }
  
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

	.button{
		position:absolute;	
		display:block;
		width:100%;
		height:100%;
				
			&:hover{
				background-color:transparent;
			
			}
				
	}
	
	.prev{
		width:50%;
		top:10%;
		bottom:15%;		
		left:0;
		cursor: url('../img/ui/cursor-prev.png'), auto;		
		
	}

	.next{
		width:50%;
		top:10%;
		bottom:15%;
		right:0;		
		cursor: url('../img/ui/cursor-next.png'), auto;	
	}
	
	.up {
		width:100%;
		left:0;
		right:0;
		height:15%;
		top:0;
		cursor: url('../img/ui/cursor-up.png'), auto;
		
	}
	
	.down {
		width:100%;
		left:0;
		right:0;
		height:15%;
		bottom:0;
		cursor: url('../img/ui/cursor-down.png'), auto;
		
	}
	
	.next-item{
		display:block;
		position:relative;
		text-align:center;
		
		width:8em;
		margin:0 auto;

		font-size:1.25em;
		line-height:1em;
		padding:0 .5em .15em;
		
		cursor:pointer;		
		color:#000;
		background-color: rgba(255,255,255,0);
		opacity:0.5;
		
		@include quarter-second-transition;
		
			&:hover{
				background-color: rgba(255,255,255,0.75);
				opacity:1;
				color:$black;
				@include quarter-second-transition;
			}
	}

	.nontouchnav{
		position: absolute;	
		bottom: 0;
		top:0;
		padding: .25em 0;
		width: 100%;
		z-index: 1000;
		text-align: center;
		font-size: 1.5em;
		overflow: hidden;
	}


//Flexbox Classes

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;

  // height is needed for IE10-11 for this bug
  height: (em(500));
	@media screen and (min-height: (em(800))){
		height:(em(600));
	}
  
  // other browsers use min-height
  @supports not (-ms-flex: 1) {
    height: auto;
    min-height: (em(500));
		@media screen and (min-height: (em(800))){
			min-height:(em(600));
		}
  }
}

.Aligner-item {
  max-width: 80%;
  
  @media screen and (min-width: (em(600))){
	  max-width: 50%;
  }
  
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}